body {
  margin: 0;
  padding: 0;
  background: url(img/Gradient\ Background.gif) repeat center center fixed;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.container {
  background-color: rgb(206, 206, 206);
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  background: url(img/Background-Animation.gif) repeat center center fixed;
  background-size: contain;
  max-width: 600px;
  border-radius: 8px;
  padding: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

form input[type="text"] {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 18px;
  width: 60%;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease;
}

form input[type="text"]:hover {
  box-shadow: 0 0 20px rgba(220, 181, 0, 0.6);
}

.ripple-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  background-position: center;
  transition: all 0.5s ease-in-out;
}

.ripple-button:hover {
  background-color: #007bffe1;
  background: rgba(26, 152, 255, 0.904) radial-gradient(circle, transparent 1%, #44abff 1%)
    center/15000%;
}

.ripple-button:active {
  background-color: #299fff;
  background-size: 100%;
  transition: all 0.3s ease-in-out;
}

.icon img {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.temperature {
  font-size: 48px;
  font-weight: bold;
  margin: 20px 0;
}

.description {
  text-transform: capitalize;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.details > div {
  padding: 20px;
  background-color: #ffffffe8;
  margin: 10px;
  flex: 1;
  border-radius: 8px;
  text-align: center;
  min-height: 45px;
  font-weight: bold;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease;
}

.details > div:nth-child(3) {
  font-size: 13.6px;
}

.details > div:hover {
  background-color: #535353;
  color: #fff;
  cursor: none;
}

@media (max-width: 768px) {
  form {
    flex-direction: column;
  }

  form input[type="text"] {
    width: 70%;
    margin-bottom: 15px;
  }

  .ripple-button {
    margin-left: 0;
  }
}
